.comentarios {
    width: 100%;
}

.header_commnets{
	width: 100%;
	clear:both;
	padding-left: 5%;
}

.comentario {
    width: 65%;
    background-color:#E6FAFF;
    color:#3A3A3A;
    font-weight:bold;
    margin: 5%;
	padding: 1% 2.5%;
    clear:left;
    border-collapse: separate;
    display:inline-block;
	margin-bottom:10px;
	margin-top:20px;
}

.usercomment{
	padding-top:2%;
	padding-bottom:2%;
	float:left;
}

.avatar{
	float:left;
	width: 30px;
	height: 30px;
}

.avatar img{
	width:30px;
	height:30px;
}

.userinfo{
	float:left;
	font-size:75%;
	padding-left:5px;
	
}


.comentario p{
	clear:both;
	padding-left:1%;
	padding-bottom:1%;
}

.valoracion{
	width:100%;
	text-align:right;
	float:right;

}

.valoracion a{
	padding-right:2%;
}

.header_comentar{
	width: 100%;
	clear:both;
	padding-top:15px;
	padding-left: 5%;
}

.comentar{
	width: 65%;
    background-color:#E6FAFF;
    color:#3A3A3A;
    font-weight:bold;
    margin: 5%;
	padding: 1% 2.5%;
    clear:left;
    border-collapse: separate;
    display:inline-block;
	margin-bottom:25px;
	margin-top:20px;
}

#addComment{	
	float:left;
	width: 100%;
}

#comment{
	width: 100%;
	margin-top:7px;
	margin-bottom:7px;
}

h2{	
	font-size:150%;
}

h3{	
	font-size:125%;
	margin-top:5px;
	margin-bottom:10px;
}

p{
	margin-top:5px;
	margin-bottom:5px;
}

.naranja{
	color:#FF6600;
}


#paginacion {
	/*margin-left:25%;*/
	padding:20px;
	clear:both;
}
 
#paginacion ul {
	list-style:none;
	text-align: center;
}
 
#paginacion ul li {
	display:inline-block;
	margin-right:10px;
}
 
#paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#1A2231;
	text-decoration: none;
}
 
#paginacion ul li a:hover {
	background:#037E8C;
}
 
#paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}




