/* ================
   ===== NOTICIAX =====
   ================*/
#contenedor {
    width: 100%;
}
#contenido {
    width: 70%;
    background-color:#E6FAFF;
    color:#3A3A3A;
    /*font-weight:bold;*/
    margin: 5%;
    clear:left;
    border-collapse: separate;
    display:inline-block;
	margin-bottom:25px;
	margin-top:20px;
}
#divClear {
    clear: left;
}

#noticiaX{
	text-align: center;
    padding-bottom: 5%;
}

#titular{
    padding-top: 5%;
    text-align: center;
    font-size: 30px;
}
#datos-noticia{
    width: 50%;
    margin-left: 32%;
    margin-right: 32%;
    padding-top: 10px;
}
#ranking{
    height: 20px;
    width:auto;
    float:left;
    padding:10px 20px 10px 20px ;
}
#usuario{
     float:left;
    padding:10px 20px ;
}
#fecha{
    float:left;
    padding:10px 20px ;
}
#cuerpo p{
   text-align: justify;
   margin-top: 20px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
#cuerpo img{
	max-height: 500px;
	max-width: 100%;
	text-align:center;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.rating
{
	padding: 10px;
	padding-bottom: 20px;
}
#boton{
	margin:30px;
}